<html lang="en">
  <head>

    <title>Liquid Template</title>
    <link rel="manifest" href="/manifest.json" />
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    <!-- Seo meta data -->
    <meta name="description" content="Nicholas NG" />
    <meta name="keywords" content="business card, virtual card" />
    <meta name="author" content="Virtual Buddy" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:site_name" content="Doctor KO " />
    <meta property="og:type" content="site" />
    <meta property="og:url" content="https://virtual-budy-card.vercel.app/" />
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    <meta property="og:image" content="/assets/images/logo-multi-color.png" />
    <meta property="og:description" content="Doctor KO" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://virtual-budy-card.vercel.app/" />
    <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}" />
    <meta name="twitter:description" content="/assets/images/logo-multi-color.png" />
    <meta name="twitter:image" content="/assets/images/logo-multi-color.png" />
    <meta name="keywords" content="Doctor KO" />
    <meta name="author" content="{{ page.title }} | {{ site.title }}" />
    <meta name="theme-color" content="#1082ff" />
    <link rel="stylesheet" href="@scss/app.scss" />
  
    {{ styles }}

  </head>

    <body class="page">
      <main>